:root {
    --dark-text: #4C4C55;
    --light-text: #595964;
}

.App {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: minmax(20vw, 240px) minmax(300px, 1fr);
    grid-template-areas:
        'sidebar            main-section'
        'sidebar            main-section'
        'sidebar            main-section'
     ;

     color: var(--dark-text);
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
        
    border-right: 1px solid #ECECED;
    .name-logo-section {
        display: flex;
        gap: 10px;

        padding: 8px 0 8px 12px;
        height: max-content;
        width: 100%;

        border-bottom: 1px solid #ECECED;
        .name {
            display: flex;
            align-items: center;
        }
    }

    .sidebar-items {
        display: flex;
        flex-direction: column;
    }

    .user-settings {
        display: flex;
        align-items: center;
        gap: 12px;

        padding: 12px;
        margin-top: auto;

        border-top: 1px solid #ECECED;
        .user-profile-picture {
            border-radius: 99px;
        }

        .settings {
            margin-left: auto;
        }
    }
}

.sidebar-item {
    .main-item, .sub-item {
        display: flex;
        align-items: center;
        gap: 6px;

        width: 100%;
        padding: 8px 6px;
        .main-item-name {
            display: flex;
            align-items: center;
        }
    }

    .main-item {
        font-weight: 500;
    }
}

.main-section {
    grid-area: main-section;
    display: flex;
    gap: 32px;
    flex-direction: column;
    
    padding: 32px 80px;
}

.premium-account-banner {
    display: flex;
    align-items: center;
    gap: 8px;

    background-color: #008B5D;
    border-radius: 8px;
    .left-section {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 38px 0px 38px 24px;
        height: 72px;
        min-width: 72px;

        border-radius: 99px;
        background-color: #fff;
    }

    .right-section {
        margin: 24px 24px 24px 0;

        color: #fff;
        font-size: 15px;
        line-height: 22px;
        .title {
            font-size: 24px;
        }
        .description {
            margin-top: 7px;
        }
    }
}

.personal-information {
    flex-grow: 1;
    background-color: brown;
}

.misc-actions {
    .hirethebest-checkbox {
        display: flex;
        gap: 5px;
        margin-bottom: 32px;
        .square {
            width: 16px;
            height: 16px;

            border-radius: 2px;
            border: 2px solid #C4C4C7;
        }
    }
    .delete-account {
        padding: 16px;
        
        border: 1px solid #E3E3E4;
        .delete-account-heading {
            color: #000;
            font-size: 17px;
        }
        .delete-account-text {
            margin-top: 8px;
        }
        .delete-account-button {
            margin-top: 16px;
            
            color: #F25773;
        }
    }
}

.footer {
    margin-top: auto;

    .feedback-request {
        margin-bottom: 16px;
    }
    .main-footer {
        display: flex;
        gap: 32px;

        padding-top: 16px;
        
        border-top: 1px solid #E3E3E4;
        color: var(--light-text);
    }
}

a {
    color: #1688FE;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
